body{
	width:100%;
	height: 100%;
	padding-top:80px;
}
a{
	text-decoration: none;
}
.container{
	position: relative;
	width:80%;
	height: 100%;
	margin:0 auto;
	background-color:#e3e3e3;
	border-radius: 30px;
}
.navbar{
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar ul li{
	display: inline;
	padding-left: 170px;
	font-size: 20px;
}
.content{
	padding: 40px 30px 40px 70px;
	margin-top:100px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}
.profile_picture{
	float: right;
	margin-top: -253px;
	width: 19%;
	border-radius: 20px;
}
.form-content{
	margin: 0 auto;
	width: 350px;
	height: 200px;
	margin-top: 300px;
	text-align: center;
	background-color:#eee;
	border: 1px solid;
	border-radius: 10px;
}
.form-content input{
	margin-top:20px;
}